*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* D-A-R-K__T-H-E-M-E */
  --main-color: hsl(0, 0%, 18%);
  --nav-bg-color: hsl(0, 0%, 10%);
  --nav-text-color: hsl(0, 0%, 75%);


  /* L-I-G-H-T__T-H-E-M-E*/
  --nav-light-color: hsl(0, 1%, 86%);
  --nav-light-text: hsl(0, 5%, 18%);
  --main-light-color: hsl(0, 1%, 100%)
}

html,
body {
  height: 100%;
  width: 100%;
  font-family: "Roboto", sans-serif;
}

.body {
  height: 100%;
  width: 100%;
  background-color: var(--main-color);
  display: flex;
}

.right {
  height: 100%;
  width: 25%;
  background-color: var(--nav-bg-color);
}

.left {
  width: 75%;
  height: 100%;
  overflow: auto;
}

.upper_sec {
  width: 100%;
  height: 18%;
  position: relative;
  position: sticky;
}

.background {
  height: 100%;
  width: 100%;
  opacity: 0.4;
  pointer-events: none;
}

.shadow_a {
  height: 100%;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;

  background: linear-gradient(to top,
      rgba(47, 47, 47, 0.6),
      /* slightly lighter than #2F2F2F */
      rgba(47, 47, 47, 0.3),
      rgba(47, 47, 47, 0));

  pointer-events: none;
}

.upper_overlay {
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
}

.avatar {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  opacity: 0.8;
  margin-left: 2%;
  cursor: pointer;
  box-shadow: 0 0 20px 1px black;
}

.avatar:hover {
  box-shadow: none;
  transition: all 0.2s ease-in;
}

.cover {
  height: 100%;
  width: 100%;
}

.about {
  height: 80%;
  width: 100%;
  color: aliceblue;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 5%;
  color: var(--nav-text-color);
}

.about h1 {
  font-size: 2.2rem;
}

.about h5 {
  font-weight: 400;
  font-size: 0.9rem;
  margin-left: 5%;
}

.about h1 {
  cursor: pointer;
}

.about h1:hover {
  text-decoration: underline;
}

.about span {
  padding: 5px;
  font-family: "Fira Code";
  font-weight: 300;
  text-decoration: none;
  font-size: 1.3rem;
  color: #82aaff;
  text-shadow: 0 0 6px #3d6fff88;
}

.about span::after {
  content: "|";
  animation: blink 1s steps(1) infinite;
}

@keyframes blink {
  50% {
    opacity: 0;
  }
}

.socials {
  height: 20%;
  width: 100%;
  display: flex;
  justify-content: right;
  align-items: flex-end;
}

.socials a img {
  cursor: pointer;
  height: 25px;
  width: 25px;
  opacity: 0.6;
}

.socials a {
  margin-right: 4%;
}

.socials img:hover {
  opacity: 0.8;
  transform: translateY(-8%);
  transition: all 0.3s ease-in-out;
}

.custom-tooltip {
  position: fixed;
  transform: translateX(-50%);
  background: #222;
  color: #fff;
  padding: 6px 10px;
  border-radius: 6px;
  font-size: 0.9rem;
  pointer-events: none;
  z-index: 9999;
  white-space: nowrap;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  opacity: 0.8;
}
